body {
    background: rgba(255, 255, 0, 0.051);
}

.but-gradent {
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;

    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    border: 1px solid gray;
    background-image: linear-gradient(to right, #f66565 0%, #c96a50 25%, #f68c6563 50%);
}

.but-gradent:hover {
    background-position: right center;
}